/* a faire
trouver les 4 couleurs du theme
trouver 4 colueurs pour les langages et les attribuer en js 
aux cartes concernées en utilisant var CSS => idee bof ça fait une distraction pour rien
-remplacer les JS CSS HTML des carts par les petit logos officiels


ATTENTION IL DOIT Y AVOIR QQCH A MODIFIER AU NIVEAU DU JS 
PEUT ETRE CREATION DES ELEMENTS
CAR J AI RAJOUTE LE WRAPPER ET SES PROPRIETES NE S APPLIQUENT PAS AUX CARTES
MAIS CELLES DU BODY OUI

Anmation du leftmenuspan à définir
*/

:root{
    /* srgb, srgb-linear, lab, oklab, xyz, xyz-d50, xyz-d65, hsl, hwb, lch, oklch. */
    --mainColor : rgb(0, 28, 128);
    --secondColor : rgb(0, 247, 255) ;
    --accentColor : color-mix(in srgb, rgb(0, 247, 255) 70%, rgb(0, 28, 128) 40%);
    --fourthColor : color-mix(in srgb, rgb(0, 247, 255) 90%, rgb(0, 28, 128) 20%);
    --leftMenuWidth : 18dvw ;
}

*{
    padding: 0% ;
    margin: 0%;
}

body{
    background-color: color-mix(in srgb, rgb(0, 247, 255) 20%, rgb(0, 28, 128) 80%);
    color: wheat;
}

/* Style de la popup */
#popoverTrial{
    font-size: xx-large;
    position: fixed;
    top : 25dvw;
    left : 30dvw ;
    width: 300px;
    height : 50px ;
    text-align: center;
    vertical-align :middle ;
    padding: 20px ;
}

/* Style du tableau */
td,th{
    border: 2px solid rgb(94, 88, 113) ;
    text-align: center;
    border-collapse: collapse;
}
/* Style des titres des cartes et des tableaux */
h3, th{
font-size: large;
font-weight: bold;
border-radius: 15px 5px 15px 5px;
}

/* Style du menu de gauche*/
#left-menu-span{
    position: fixed ;
    top : 0% ;
    left : 0% ;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: oblique;
    font-size: large;
    border: dotted white 2px ;
    border-radius: 5px ;
    width:  5vw;
    height: 3vh;
    text-align: center;
    background-color: --fourthColor ;
}

.leftMenuLink{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color : rgb(0, 0, 255) ;
    background-color: antiquewhite;
    padding: 5px;
    height: fit-content ;
    border-radius: 5px ;
    border : 2px solid blue ;
    text-decoration: none;
}
#left-menu{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    visibility: hidden;
    top : 3vh ;
    left : 0% ;
    background-color: --accentColor ;
    width: var(--leftMenuWidth) ;
    height: fit-content ;
    z-index: 1;
    transition: top 1s;

}
/* Style de l'ensemble*/
#wrapper {
    position: absolute;
    background-color: none ;
    color: antiquewhite;
    display : flex ;
    flex-direction: column;
    width: 100%;
    height: 100vh ;
    top: 0%;
    left :0px ;
    transition: left 1s;
}

h1{
    background-color: --fourthColor ;
    text-align: center;
}

h2{
    background-color: rgb(60, 142, 114);
    text-align: center;
}

#menu{
    background-color: brown;
    height: auto;
}

#keywordsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: keywords ;
    background-color: gold;
    color: blue;
    width: 100% ;
    height: fit-content ;
    z-index: 10;
}

#keywords{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content :center;
    height: fit-content;
}

.keywordLink{
    /* display: flex;
    flex-direction: row; */
    width: fit-content;
    height: fit-content ;
    flex-wrap: wrap;
    background-color: rgb(199, 138, 23);
    color :aliceblue ;
    margin: 5px ;
    padding: 5px ;
    border-radius: 5% ;
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
    width: fit-content;
    font-size: small;
}

#filtersList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

li{
    display: flex;
    flex-direction: row ;
    background-color: darkgoldenrod;
    list-style-type: none;
    margin: 1%;
    padding: 8px 2% ;
    border-radius: 15px ;
    border: 5px solid greenyellow;
    cursor: pointer;
}
#cards{
    display: flex ;
    flex-direction: row;
    justify-content: space-around ;
    align-items: flex-start;
    grid-area: cards ;
    /* background-color: darkorchid; */
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    height: fit-content;
}

/* CSS DE LA CARD */

.card{
    position: relative;
    border : 5px solid black ;
    border-radius: 15px 5px 15px 5px;
    background-color: rgb(42, 57, 134);
    margin : 3%  3%;
    height: fit-content;
    z-index: 4;
}

.nom{
    text-align: center;
    border: 2px solid white ;
    border-radius: 15px 5px 15px 5px;
}
/* ca marche pas */
.definition::first-line{
    padding : 5px ;
}

.example{
    border : 5px solid rgb(103, 100, 100) ;
    border-radius: 5px ;
    background-color: black;
    color: limegreen;
    align-items: flex-start;
    height: 6rem;
    height: fit-content;
}

.type{
    position: absolute;
    bottom : 2px;
    right : 2px ;
    border: solid white 2px ;
    border-radius: 50%
}

img{
    width :1rem ;
    height :auto ;
}

#scrollToTop{
    position: fixed ;
    width: 30px ;
    height: 30px;
    bottom :5% ;
    right: 5%;
    background-image: url("https://icongr.am/jam/chevrons-square-up-f.svg?size=128&color=currentColor") ;
    background-size: contain;
    filter : brightness(1) contrast(0%) saturate(60%);
    z-index: 5;
}

#scrollToTop:hover{
    background-image: url("https://icongr.am/jam/chevrons-square-up.svg?size=128&color=currentColor") ;
}

#photo{
    position: fixed ;
    width: 230px ;
    height: 230px;
    bottom :5% ;
    left: 5%;
    filter :hue-rotate(234deg) ;
    z-index: 5;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    
#cards{
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    grid-area: cards ;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    height: fit-content;
}
}