/* a faire
trouver les 4 couleurs du theme => je crois qu'il en faut plus que 4, pas le temps d'implémenter ça :not()
trouver 4 colueurs pour les langages et les attribuer en js 
aux cartes concernées en utilisant var CSS => idee bof ça fait une distraction pour rien
ne pas rendre toutes les oculeurs variables
-remplacer les JS CSS HTML des carts par les petit logos officiels
ATTENTION IL DOIT Y AVOIR QQCH A MODIFIER AU NIVEAU DU JS 
PEUT ETRE CREATION DES ELEMENTS
CAR J AI RAJOUTE LE WRAPPER ET SES PROPRIETES NE S APPLIQUENT PAS AUX CARTES
MAIS CELLES DU BODY OUI
*/
/* !ainColor =couleur du h1=couleur du wrapper keywords =card color */

:root{
    /* srgb, srgb-linear, lab, oklab, xyz, xyz-d50, xyz-d65, hsl, hwb, lch, oklch. */
    --mainColor : #2b2828 ;
    --secondColor : #e1e2f3 ;
    --accentColor : #e2dcdc ;
    --fourthColor : #6d717c ;
    /* --leftMenuWidth : 20dvw ;
    --leftMenuOffset: 0dvw; */
}

*{
    padding: 0% ;
    margin: 0%;
}

body{
    background-color: var(--mainColor);
    color: rgb(255, 255, 255) ;
    font-family: 'Rubik', sans-serif;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dangrek", sans-serif;
    font-size : 3rem;
    text-shadow: 2px 2px 1px pink;
    text-shadow: -2px -2px 1px rgb(20, 3, 6);
    background-color: var(--mainColor) ;
    color: #c2c3ba;
}

h1 input {
    margin :  0 1em ;
}

h2{
    text-shadow: 1px 1px 1px pink;
    text-shadow: -1px -1px 1px rgb(20, 3, 6);
    background-color: #563d7a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    background-color: var(--secondColor);
    color: #0a0701;
}

/* Style du tableau */
td,th{
    border: 2px solid rgb(94, 88, 113) ;
    text-align: center;
    border-collapse: collapse;
}
/* Style des titres des cartes et des tableaux */
h3, th{
font-size: large;
font-weight: bold;
border-radius: 15px 5px 15px 5px;
}

/* Style du menu de gauche*/
#left-menu-span{
    position: fixed ;
    top : 0% ;
    left : 0% ;
    z-index: 110;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: oblique;
    font-size: large;
    border: solid white 2px ;
    box-shadow: 2px 2px 2px black;
    padding : 2px ;
    border-radius: 5px ;
    width:  auto;
    height: auto;
    text-align: center;
    background-color: --fourthColor ;
}

.leftMenuLink{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color :  rgb(255, 252, 252) ;
    background-color: rgb(51, 97, 126);
    padding: 5px;
    height: fit-content ;
    border-radius: 5px ;
    border : 2px solid rgb(8, 8, 101) ;
    text-decoration: none;
}

.leftMenuLink:active{
    background-color: rgb(44, 72, 90);
    color :rgb(182, 226, 245) ;
    transition: all 500ms ;
}

.leftMenuLink:hover{
    background-color: rgb(112, 150, 175);
    color :rgb(235, 235, 247) ;
    transition: all 500ms ;
}

#left-menu{
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    visibility: hidden;
    top : 3vh ;
    left : 0% ;
    background-color: var(--mainColor) ;
    width: var(--leftMenuWidth) ;
    height: fit-content ;
    z-index: 180;
    transition: top 1s;

}
/* Style de l'ensemble*/
#wrapper {
    position: absolute;
    background-color: none ;
    color: antiquewhite;
    display : flex ;
    flex-direction: column;
    width: 100%;
    height: 100vh ;
    top: 0%;
    left :var(--leftMenuOffset) ;
    transition: left 1s;
}

h1,h2{
    padding: 10px;
    text-align: center;
}

#menu{
    background-color: var(--mainColor);
    height: auto;
}

#keywordsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: keywords ;
    background-color: var(--mainColor);
    color: rgb(26, 26, 104);
    width: 100% ;
    height: fit-content ;
    z-index: 5;
    border : "5"px solid #ffffff ; 
    box-shadow: 2px 2px 5px rgb(1, 1, 1) ;

}

#keywords{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content :center;
    height: fit-content;
    z-index: 3;
}

.keywordLink{
    width: fit-content;
    height: fit-content ;
    flex-wrap: wrap;
    background-color: rgb(245, 235, 235) ;
    color :rgb(0, 0, 0) ;
    margin: 5px ;
    padding: 5px ;
    border-radius: 5px ;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    font-size: small;
}

.keywordLink:hover{
    background-color: rgb(13, 13, 14) ;
    color :rgb(234, 255, 0) ;
}

#filtersList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;

}

li{
    display: flex;
    flex-direction: row ;
    background-color: rgb(77, 73, 75);
    list-style-type: none;
    margin: 1%;
    padding: 8px 2% ;
    border-radius: 15px ;
    border: 5px solid rgb(151, 149, 158);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(1, 1, 1) ;
}

li:hover {
    background-color: rgb(16, 16, 16);
    border: 5px solid rgb(110, 106, 125);
    transition: all 500ms;

}

.activeFilter{
    background-color: rgb(211, 33, 167);
    border: 5px solid rgb(110, 106, 125);
}
#cards{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: cards ;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #dbcfed;
    background-color: #DFDBE5;
    background-color: #c1a8e8;
    background-color: #98949d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23160530' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");    /* CSS DE LA CARD */
    background-size: cover;
}
.card{
    position: relative;
    border : 5px solid black ;
    border-radius: 15px 5px 15px 5px;
    background-color: var(--mainColor);
    margin : 3%  3%;
    height: fit-content;
    z-index: 4;
}

.nom{
    text-align: center;
    border: 2px solid white ;
    border-radius: 15px 5px 15px 5px;
}
/* ca marche pas */
.definition::first-line{
    padding : 5px ;
}

.example{
    border : 5px solid rgb(103, 100, 100) ;
    border-radius: 5px ;
    background-color: black;
    color: limegreen;
    align-items: flex-start;
    height: 6rem;
    height: fit-content;
}

.type{
    position: absolute;
    bottom : 2px;
    right : 2px ;
    border: solid white 2px ;
    border-radius: 50%
}

img{
    width :1rem ;
    height :auto ;
}

#scrollToTop{
    position: fixed ;
    width: 30px ;
    height: 30px;
    bottom :5% ;
    right: 5%;
    background-image: url("https://icongr.am/jam/chevrons-square-up-f.svg?size=128&color=currentColor") ;
    background-size: contain;
    filter : brightness(1) contrast(0%) saturate(60%);
    z-index: 5;
}

#scrollToTop:hover{
    background-image: url("https://icongr.am/jam/chevrons-square-up.svg?size=128&color=currentColor") ;
}

#photo{
    position: fixed ;
    width: 230px ;
    height: 230px;
    bottom :5% ;
    left: 5%;
    filter :hue-rotate(234deg) ;
    z-index: 5;
}




@media screen and (min-width: 768px) and (max-width: 1023px){

#wrapper { 
    width: 100dvw;   
}

#cards{
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    grid-area: cards ;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    height: fit-content;
}

#left-menu{
    display: none;
}

/* #left-menu-span:hover+div{
    display: flex;
} */

/* .leftMenuLink:hover{
    display: none;
} */
}